$white: #fff ;

$one-blue:#081131;
$two-blue:#0083ff;
$three-blue:#75effc;
$four-blue:#010a28;
$five-blue:#fff;

$one-purple:#8046ad;
$two-purple:#573488;
$three-purple:#7d01f7;
$four-purple:#45007c;

$one-pink:#ff00a6;
$two-pink:#fe05ff;
$three-pink: #e76bff;

$comb-one_one:#e50185;
$comb-one_two: #fe0ab7;
$comb-one_three: #e9ff88;
$comb-one_four:#111010;
$comb-one_five: #d0ccd1;

$comb-two_one:#fa448c;
$comb-two_two: #fec859;
$comb-two_three:#43b5a0;
$comb-two_four:#491d88;
$comb-two_five: #331a38;

$comb-three_one:#67c50a;
$comb-three_two: #ffd900;
$comb-three_three:#7cd7c2;
$comb-three_four:#054e6f;
$comb-three_five: #000000;