@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin glow { 
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #e60073, 0 0 8px #e60073, 0 0 10px #e60073, 0 0 12px #e60073, 0 0 14px #e60073;
  }
  to {
    text-shadow: 0 0 4px #fff, 0 0 6px #ff4da6, 0 0 8px #ff4da6, 0 0 10px #ff4da6, 0 0 12px #ff4da6, 0 0 14px #ff4da6, 0 0 16px #ff4da6;
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;  
  -moz-user-select: none;  
  -ms-user-select: none;
  user-select: none;
}
.required:after{
  content: "*";
  color: red;
}
.simple-link{
  color: green;
  &:hover{
      color:lightgreen;
  }
  &:active{
      color:darkgreen;
  }
}