.search{
    @include flex-row;
    margin: 0 auto;
    width: 600px;
    height: 30px;
    border-radius: 15px;
    background: $white;
    box-shadow: 0 0 10px $comb-two_one;
    color: $comb-two_five;
    padding: 0 15px;
    &__field{
        border:none;
        height: 100%;
        width: 580px;
        background: transparent;
        outline: none;
    }
    &__icon{
        height: 20px;
        width: 20px;
        cursor: pointer;
    }
}